<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <title>Jobs CRUD Flask</title>
  </head>

  <body>
    <!-- Job Creation Form -->
    <div class="d-flex justify-content-center">
      <div class="card p-4 mt-4" style="width: 27rem">
        <h1 class="text-center">Create Job</h1>
        <form action="/new-job" method="POST" onsubmit="createJob(event)">
          <div class="mb-3">
            <label class="form-label">Name:</label>
            <input class="form-control" type="text" name="name" />
          </div>
          <div class="mb-3">
            <label class="form-label">Url:</label>
            <input class="form-control" type="text" name="url" />
          </div>
          <div class="mb-3">
            <label class="form-label">Company:</label>
            <input class="form-control" type="text" name="company" />
          </div>
          <div class="mb-3">
            <label class="form-label">Web Portal:</label>
            <input class="form-control" type="text" name="web_portal" />
          </div>
          <div class="mb-3">
            <label class="form-label">Modality:</label>
            <input class="form-control" type="text" name="modality" />
          </div>
          <div class="mb-3">
            <label class="form-label">Publication Date:</label>
            <input class="form-control" type="date" name="publicationDate" />
          </div>
          <div class="d-flex justify-content-center mt-4 mb-2">
            <button class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
    <!-- Jobs list -->
    <div class="container mt-4">
      <h1 class="text-center">Postulated Jobs</h1>
      <div class="row d-flex justify-content-center align-items-center">
        {% for job in jobs %}
        <div class="col-md-8 col-lg-4 my-3">
          <div class="card text-center p-4">
            <div class="card-body">
              <h5 class="card-title">{{ job.name }}</h5>
              <p class="card-text">Company: {{ job.company }}</p>
              <p class="card-text">Modality: {{ job.modality }}</p>
              <p class="card-text">
                Application Date: {{ job.applicationDate }}
              </p>
              <a href="{{job.url}}" class="btn btn-outline-info">Job URL</a>
            </div>
            <div class="row d-flex mx-4">
              <a
                class="btn btn-primary mb-2"
                href="{{url_for('jobs.update_job', id=job.id)}}"
                role="button"
                >Edit</a
              >
              <button
                class="btn btn-danger"
                data-jobid="{{ job.id }}"
                role="button"
                onclick="deleteJobConfirmation(event, this.dataset.jobid)"
                >Delete</button
              >
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"
  ></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="{{ url_for('static', filename='js/creation-alert.js') }}"></script>
  <script src="{{ url_for('static', filename='js/delete-alert.js') }}"></script>
</html>
